<div class="post-creator">
  <div class="user-collar-and-post-holder">
    <div class="user-avatar-collar">
      <div class="user-avatar" [ngStyle]="{'background-color': getAvatarColor()}">
        <a href="/profile" class="user-link"></a>
        <img *ngIf="!isAvatarNull()" src="{{currentUser.avatar!.url}}" alt="{{currentUser.username}}}">
        <div *ngIf="isAvatarNull()" class="initial">{{getFirstInitial()}}</div>
      </div>
    </div>
    <div class="post-holder">
      <app-auto-resize-input *ngIf="!loading" #creatorInput></app-auto-resize-input>
      <div class="loading-icon" *ngIf="loading">
        <mat-progress-spinner class="spinner"
                              [diameter]="30"
                              [mode]="'indeterminate'">
        </mat-progress-spinner>
      </div>
      <div class="button-holder">
        <button class="post-button" (click)="createPost()" [disabled]="isButtonDisabled">
          <b>
            Post
          </b>
        </button>
      </div>
    </div>

  </div>
</div>

