<div class="wrap">
  <app-side-navbar [activatedEndpoint]="activatedEndpoint"></app-side-navbar>
  <div class="element">
    <ng-content></ng-content>
    <app-recommendations-side-bar [showSearchbar]="showSearchBar"
                                  [showWhatsHappening]="showWhatsHappening"
                                  [showWhoToFollow]="showWhoToFollow"
    (userClicked)="navigateToUserPage($event)"
    (trendClicked)="searchByWord($event)"></app-recommendations-side-bar>
  </div>
</div>

