<div class="comment-creator">
  <div class="user-avatar-collar">
    <div class="user-avatar" [ngStyle]="{'background-color': getCircleColor(currentUser)}">
      <img *ngIf="!isAvatarNull(currentUser)" src="{{currentUser.avatar!.url}}" alt="{{currentUser.username}}}">
      <div *ngIf="isAvatarNull(currentUser)" class="initial">{{getFirstInitial(currentUser)}}</div>
    </div>
    </div>
    <div class="right-input">
      <app-auto-resize-input [placeholder]="'Post your reply'" #inputComponent></app-auto-resize-input>
      <div class="button-holder">
      <button class="reply-button" (click)="onReplyClick()" [disabled]="isButtonDisabled()">
        <b>Reply</b>
      </button>
      </div>
  </div>
</div>
