<div class="comment-creator">
  <app-user-avatar [user]="currentUser"></app-user-avatar>
    <div class="right-input">
      <app-auto-resize-input [placeholder]="'Post your reply'" #inputComponent></app-auto-resize-input>
      <div class="post-image-content">
        <div class="image-radius-wrap" [style.width]="imageUrls.length === 1 ? 'fit-content' : '100%'" [style.border-width]="imageUrls.length == 0 ? '0' : '2px' ">
          <div *ngIf="imageUrls.length === 4" class="four-image-container full-width">
            <div class="two-image-container full-width">
              <div class="left-upper-image-container full-width">
                <app-deletable-image [imageUrl]="imageUrls[0]" (deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
              <div class="right-upper-image-container full-width">
                <app-deletable-image [imageUrl]="imageUrls[1]"(deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
            </div>
            <div class="two-image-container full-width">
              <div class="left-bottom-image-container full-width">
                <app-deletable-image [imageUrl]="imageUrls[2]"(deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
              <div class="right-bottom-image-container full-width">
                <app-deletable-image [imageUrl]="imageUrls[3]"(deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
            </div>
          </div>
          <div *ngIf="imageUrls.length === 3" class="three-image-container full-width">
            <div class="left-big-image full-width">
              <app-deletable-image [imageUrl]="imageUrls[0]"(deleteImage)="deleteImage($event)"></app-deletable-image>
            </div>
            <div class="two-right-images full-width">
              <div class="right-upper-image-container full-width">
                <app-deletable-image [imageUrl]="imageUrls[1]"(deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
              <div class="right-bottom-image-container full-width">
                <app-deletable-image [imageUrl]="imageUrls[2]"(deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
            </div>
          </div>
          <div *ngIf="imageUrls.length === 2" class="two-image-container full-width">
            <div class="left-big-image full-width">
              <app-deletable-image [imageUrl]="imageUrls[0]"(deleteImage)="deleteImage($event)"></app-deletable-image>
            </div>
            <div class="right-big-image full-width">
              <app-deletable-image [imageUrl]="imageUrls[1]"(deleteImage)="deleteImage($event)"></app-deletable-image>
            </div>
          </div>
          <div *ngIf="imageUrls.length === 1" class="solo-image-container">
            <img class="solo-image full-width" src="{{imageUrls[0]}}" alt="image">
            <div class="image-overlay">
              <div class="close-image-button">
                <fa-icon [icon]="faTimes" (click)="deleteImage(imageUrls[0])"></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button-holder">
        <app-photo-loader (imageUrlOutputEvent)="onPhotoLoaded($event)" [disabled]="imageUrls.length > 3"></app-photo-loader>
        <button class="reply-button" (click)="onReplyClick()" [disabled]="isButtonDisabled()">
        <b>Reply</b>
      </button>
      </div>
  </div>
</div>
