<div class="hover-card"
     appOnDomEnter
     (domEnter)="elementEntered()"
     *ngIf="isHoverCardVisible"
     [@fadeInOut]
     [style.transform]="'translate('+coordinates.x+'px, ' + coordinates.y+'px)'"
     (mouseleave)="onMouseLeave()"
     (mouseenter)="onMouseEnter()"
>
  <div *ngIf="isFollowResponseSuccess">
  <div class="user-content">
    <div class="avatar-and-follow-btn">
      <app-user-avatar [user]="user "></app-user-avatar>
      <div class="follow-btn-holder">
        <button *ngIf="showFollowButton" class="follow-btn" (click)="followUser()">
          <b style="padding-left: 6px; padding-right: 6px; font-size: 14px;">Follow</b>
        </button>
        <button *ngIf="isUserFollowed" class="follow-btn" (click)="unfollowUser()">
          <b style="padding-left: 6px; padding-right: 6px; font-size: 14px;">Followed</b>
        </button>
      </div>
    </div>
    <div class="username-holder">
      <a href="{{user.username}}/profile" class="user-link"></a>
      <b>{{user.username}}</b>
    </div>
    <div class="bio-holder">
      {{user.bio}}
    </div>
    <div class="user-connections-info">
      <div class="following-holder">
        <div class="user-link" (click)="navigator.openFollowingPage(user.username)"></div>
          <b>{{following}}</b> <span class="connection-text"> Following</span>
      </div>
      <div class="followers-holder">
        <a (click)="navigator.openFollowingPage(user.username)" class="user-link"></a>
        <b>{{followers}}</b> <a class="connection-text"> Followers</a>
      </div>
    </div>
  </div>

  </div>
</div>
