.hover-card {
  height: 140px;
  width: 240px;
  background-color: white;
  border: solid 1px #c8c8c8;
  border-radius: 16px;
  position: absolute;
  z-index: 9;
}

.user-content {
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 120px;
  width: 220px;
}

.avatar-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.avatar-and-follow-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.follow-btn-holder {
  display: flex;
  align-items: flex-start;
  height: 100%;
}

.follow-btn{
  border: none;
  background-color: #141414;
  height: 30px;
  border-radius: 25px;
  color: white;
}

.username-holder {
  margin-top: 6px;
  font-size: 16px;
}

.bio-holder {
  margin-top: 4px;
  font-size: 14px;
}

.user-connections-info {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
