<div class="outside-closer" (click)="onNoClick()"></div>
<div class="dialog">
    <div class="reply-header">
      <button class="close-button" (click)="onNoClick()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  <div class="centered-post">
    <div class="post-container">
      <div class="page-post">
        <div class="user-collar-and-post-holder">
          <div class="user-avatar-collar">
            <div class="user-avatar" [ngStyle]="{'background-color': getCircleColor(data.post.user)}">
              <img *ngIf="!isAvatarNull(data.post.user)" src="{{data.post.user.avatar!.url}}" alt="{{data.post.user.username}}}">
              <div *ngIf="isAvatarNull(data.post.user)" class="initial">{{getFirstInitial(data.post.user)}}</div>
            </div>
            <div class="gray-collar"></div>
          </div>
          <div class="post-holder">
            <div class="user-info-and-dots">
              <div class="user-date">
                <div class="user-info">
                  <b>{{data.post.user.username}}</b>
                </div>
                <div class="user-date-divider"></div>
                <div class="date color-grey">
                  {{ getCreatedDate() }}
                </div>
              </div>
              <div class="edit"></div>
            </div>
            <div class="post-text-content">
              <p>{{ data.post.textContent }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
      <div class="reply">
        <div class="user-collar-and-post-holder">
          <div class="user-avatar-collar">
            <div class="user-avatar" [ngStyle]="{'background-color': getCircleColor(data.currentUser)}">
              <img *ngIf="!isAvatarNull(data.currentUser)" src="{{data.currentUser.avatar!.url}}" alt="{{data.currentUser.username}}}">
              <div *ngIf="isAvatarNull(data.currentUser)" class="initial">{{getFirstInitial(data.currentUser)}}</div>
            </div>
          </div>
          <textarea class="dialog-reply-text-area" matInput [(ngModel)]="data.textContent" placeholder="Post your reply"></textarea>
        </div>
      </div>
    <!--<mat-form-field>
      <input matInput [(ngModel)]="data.images">
    </mat-form-field>-->
    <div class="mat-dialog-actions">
      <button mat-button class="reply-button" [mat-dialog-close]="data" [disabled]="isButtonDisabled()">Reply</button>
    </div>
  </div>
</div>
