<app-user-hover-card></app-user-hover-card>
<div class="wrap">
    <app-side-navbar [activatedEndpoint]="Endpoint.Home"></app-side-navbar>
  <div class="element">
    <div class="main-page">
      <app-top-blurry-bar [title]="'Home'"></app-top-blurry-bar>
      <div style="height: 0; width: 100%;"></div>
      <app-post-creator (onPostCreated)="onPostCreated()"></app-post-creator>
      <div>
        <app-page-post *ngFor="let post of posts" [postInput]="post" [userInput]="post.author"></app-page-post>
      </div>
      <div>
        <app-loading-spinner [loading]="postsLoading"></app-loading-spinner>
      </div>
    </div>
    <app-recommendations-side-bar></app-recommendations-side-bar>
  </div>
</div>

<input type="text" #box>

<button (click)="logPost()">log post</button>
