<div class="wrap">
  <div class="main-page">
    <div class="sticky-wrap">
      <div class="header">
        <div class="header-content">
          <div  class="back-button" >
            <div class="svg-pic" aria-label="back" role="button" (click)="backToMainPaige()" >
              <fa-icon [icon]="faArrowLeftLong" class="arrowIcon"></fa-icon>
            </div>
          </div>
          <div class="search-bar-area">
            <div class="search-bar-box">
              <div class="svg-box">
                <div class="svg">
                  <fa-icon [icon]="faMagnifyingGlass" class="searсh-icon"></fa-icon>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
