<div class="wrap">
  <div class="main-page">
    <app-connection-page [username]="username" [isFollowing] = "false" [isFollowers] = "true"></app-connection-page>
    <div style="position: relative; max-width: 600px">
      <div *ngIf="followers.length != 0">
        <div style="display: block" *ngFor="let follower of followers">
          <app-page-user [pageUser]="follower" [currentUser]="currentUser"
                                   [isCurrentUserPage]="currentUser.id == follower.id" [isFollowing]="amIFollowing(follower.id)">
          </app-page-user>
        </div>
      </div>
    </div>
  </div>
</div>
