<div class="wrap">
  <div class="main-page">
    <app-tablist-page [title]="username" [firstTabName] = "'Following'" [secondTabName] = "'Followers'"
                      [selectedTab]="Tab.SecondTab"
                      (titleClicked)="navigatorService.openProfilePage($event)"
                      (firstTabClicked)="navigateToFollowing(username)"
                      (backButtonClicked)="goBack()"
    ></app-tablist-page>
    <div style="position: relative; max-width: 600px">
      <div *ngIf="followers.length != 0">
        <div style="display: block" *ngFor="let follower of followers">
          <app-page-user [pageUser]="follower" [currentUser]="currentUser"
                                   [isCurrentUserPage]="currentUser.id == follower.id" [isFollowing]="amIFollowing(follower.id)">
          </app-page-user>
        </div>
      </div>
    </div>
    <app-loading-spinner [loading]="loading"></app-loading-spinner>
  </div>
</div>
