<div class="outside-closer" (click)="onNoClick()"></div>
<div class="dialog">
  <div class="reply-header">
    <button class="close-button" (click)="onNoClick()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="centered-post">
    <div class="post-container">
      <div class="page-post">
        <div class="user-collar-and-post-holder">
          <div class="user-avatar-collar">
            <div class="user-avatar" [ngStyle]="{'background-color': getCircleColor(data.post.user)}">
              <img *ngIf="!isAvatarNull(data.post.user)" src="{{data.post.user.avatar!.url}}" alt="{{data.post.user.username}}">
              <div *ngIf="isAvatarNull(data.post.user)" class="initial">{{getFirstInitial(data.post.user)}}</div>
            </div>
          </div>
          <div class="post-holder">
            <div class="user-info-and-dots">
              <div class="user-date">
                <div class="user-info">
                  <b>{{data.post.user.username}}</b>
                </div>
              </div>
              <div class="edit"></div>
            </div>
            <div class="post-text-content">
              <app-auto-resize-input [placeholder]="'Edit'" #editInputBox [startingText]="data.post.textContent"></app-auto-resize-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="mat-dialog-actions">
      <button class="save-changes-button" [mat-dialog-close]="{post: data.post, textContentOutput: editInputBox.inputValue}" [disabled]="isButtonDisabled()">
       <b>
        Save Changes
       </b>
      </button>
    </div>
  </div>
</div>
