<div class="outside-closer" (click)="onNoClick()" [@fadeInOut]></div>
<div class="dialog">
  <div class="reply-header">
    <button class="close-button" (click)="onNoClick()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="centered-post">
    <div class="post-container">
      <div class="page-post">
        <div class="user-collar-and-post-holder">
          <div class="user-avatar-collar">
            <div class="user-avatar" [ngStyle]="{'background-color': getCircleColor(currentUser)}">
              <img *ngIf="!isAvatarNull(currentUser)" src="{{currentUser.avatar!.url}}" alt="{{currentUser.username}}">
              <div *ngIf="isAvatarNull(currentUser)" class="initial">{{getFirstInitial(currentUser)}}</div>
            </div>
          </div>
          <div class="post-holder">
            <div class="user-info-and-dots">
              <div class="user-date">
                <div class="user-info">
                  <b>{{currentUser.username}}</b>
                </div>
              </div>
              <div class="edit"></div>
            </div>
            <div class="post-text-content">
              <app-auto-resize-input [placeholder]="'Whats\' happening?'" #editInputBox></app-auto-resize-input>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="mat-dialog-actions">
      <button class="save-changes-button" [mat-dialog-close]="{output : editInputBox.inputValue}" [disabled]="isButtonDisabled()">
        <b>
          Save Changes
        </b>
      </button>
    </div>
  </div>
</div>
