<div class="outside-closer" (click)="onNoClick()" [@fadeInOut]></div>
<div class="dialog">
  <div class="reply-header">
    <button class="close-button" (click)="onNoClick()">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div class="centered-post">
    <div class="post-container">
      <div class="page-post">
        <div class="user-collar-and-post-holder">
          <div class="user-avatar-collar">
            <div class="user-avatar" [ngStyle]="{'background-color': getCircleColor(currentUser)}">
              <img *ngIf="!isAvatarNull(currentUser)" src="{{currentUser.avatar!.url}}" alt="{{currentUser.username}}">
              <div *ngIf="isAvatarNull(currentUser)" class="initial">{{getFirstInitial(currentUser)}}</div>
            </div>
          </div>
          <div class="post-holder">
            <div class="user-info-and-dots">
              <div class="user-date">
                <div class="user-info">
                  <b>{{currentUser.username}}</b>
                </div>
              </div>
              <div class="edit"></div>
            </div>
            <div class="post-text-content">
              <app-auto-resize-input [placeholder]="'Whats\' happening?'" #editInputBox></app-auto-resize-input>
            </div>
          </div>
        </div>
        <div class="post-image-content">
          <div class="image-radius-wrap" [style.width]="imageUrls.length === 1 ? 'fit-content' : '100%'" [style.border-width]="imageUrls.length == 0 ? '0' : '2px' ">
            <div *ngIf="imageUrls.length === 4" class="four-image-container full-width">
              <div class="two-image-container full-width">
                <div class="left-upper-image-container full-width">
                  <app-deletable-image [imageUrl]="imageUrls[0]" (deleteImage)="deleteImage($event)"></app-deletable-image>
                </div>
                <div class="right-upper-image-container full-width">
                  <app-deletable-image [imageUrl]="imageUrls[1]"(deleteImage)="deleteImage($event)"></app-deletable-image>
                </div>
              </div>
              <div class="two-image-container full-width">
                <div class="left-bottom-image-container full-width">
                  <app-deletable-image [imageUrl]="imageUrls[2]"(deleteImage)="deleteImage($event)"></app-deletable-image>
                </div>
                <div class="right-bottom-image-container full-width">
                  <app-deletable-image [imageUrl]="imageUrls[3]"(deleteImage)="deleteImage($event)"></app-deletable-image>
                </div>
              </div>
            </div>
            <div *ngIf="imageUrls.length === 3" class="three-image-container full-width">
              <div class="left-big-image full-width">
                <app-deletable-image [imageUrl]="imageUrls[0]"(deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
              <div class="two-right-images full-width">
                <div class="right-upper-image-container full-width">
                  <app-deletable-image [imageUrl]="imageUrls[1]"(deleteImage)="deleteImage($event)"></app-deletable-image>
                </div>
                <div class="right-bottom-image-container full-width">
                  <app-deletable-image [imageUrl]="imageUrls[2]"(deleteImage)="deleteImage($event)"></app-deletable-image>
                </div>
              </div>
            </div>
            <div *ngIf="imageUrls.length === 2" class="two-image-container full-width">
              <div class="left-big-image full-width">
                <app-deletable-image [imageUrl]="imageUrls[0]"(deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
              <div class="right-big-image full-width">
                <app-deletable-image [imageUrl]="imageUrls[1]"(deleteImage)="deleteImage($event)"></app-deletable-image>
              </div>
            </div>
            <div *ngIf="imageUrls.length === 1" class="solo-image-container">
              <img class="solo-image full-width" src="{{imageUrls[0]}}" alt="image">
              <div class="image-overlay">
                <div class="close-image-button">
                  <fa-icon [icon]="faTimes" (click)="deleteImage(imageUrls[0])"></fa-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div mat-dialog-content>
    <div class="mat-dialog-actions">
      <app-photo-loader (imageUrlOutputEvent)="onPhotoLoaded($event)" [disabled]="imageUrls.length > 3"></app-photo-loader>
      <button class="save-changes-button" [mat-dialog-close]="{imagesOutput: imageUrls,textOutput : editInputBox.inputValue}" [disabled]="isButtonDisabled()">
        <b>
          Post
        </b>
      </button>
    </div>
  </div>
</div>
