<div class="wrap">
  <div class="main-page">
    <app-connection-page [username]="username" [isFollowing] = "true" [isFollowers] = "false"></app-connection-page>
    <div style="position: relative;">
      <div *ngIf="following.length != 0">
        <div style="display: block" *ngFor="let user of following">
          <app-page-user [pageUser]="user" [currentUser]="currentUser"
                                   [isCurrentUserPage]="currentUser.id == user.id" [isFollowing]="amIFollowing(user.id)">
          </app-page-user>
        </div>
      </div>
    </div>
  </div>
</div>
