<div class="user-collar-and-post-holder">
  <div class="user-avatar-collar">
    <div class="user-avatar" [ngStyle]="{'background-color': getCircleColor()}">
      <img *ngIf="!isAvatarNull()" src="{{user.avatar!.url}}" alt = "{{user.username}}}">
      <div *ngIf="isAvatarNull()" class="initial">{{getFirstInitial()}}</div>
    </div>
  </div>
  <div class="post-holder">
    <div class = "user-info-and-dots">
      <div class = "user-date">
        <div class="user-info">
          <b>{{user.username}}</b>
        </div>
        <div class="user-date-divider"></div>
        <div class="date color-grey">
          {{ getCreatedDate() }}
        </div>
      </div>
      <div class="dots"></div>
    </div>
    <div class="post-text-content">
      <p>{{ post.textContent }}</p>
    </div>
    <div class="post-image-content">
      <!--<img src="{{ post.images[0].url }}" alt="{{ post.textContent }}">-->
    </div>
    <div class="post-footer">
      <div class="post-top-margin">
        <div class="comment-info" (click)="handleCommentClick()">
          <div class="comment-icon color-grey">
            <div class="blue-circle"></div>
            <fa-icon [icon]="faComment"></fa-icon>
          </div>
          <div class="comment-amount color-grey">
            {{post.commentsAmount}}
          </div>
        </div>
        <div class="repost-info" (click)="handleRepostClick()">
          <div class="repost-icon color-grey">
            <div class="green-circle"></div>
            <fa-icon [icon]="faRetweet" style="scale: calc(16/18)"></fa-icon>
          </div>
          <div class="repost-amount color-grey">{{post.repostsAmount}}</div>
        </div>
        <div class="likes-info" (click)="handleLikeClick()">
          <div class="likes-icon color-grey">
            <div class="red-circle"></div>
            <fa-icon [icon]="faHeart"></fa-icon>
          </div>
          <div class="likes-amount color-grey">{{post.likesAmount}}</div>
        </div>
        <div class="view-stats">
          <div class="view-icon color-grey">
            <div class="blue-circle"></div>
            <fa-icon [icon]="faSquarePollVertical"></fa-icon>
          </div>
          <div class="view-amount color-grey">{{post.viewsAmount}}</div>
        </div>
      </div>
    </div>
  </div>


</div>
