<div appOnDomEnter (domEnter)="startObserve()" class="page-post" [style.border-top-width]="this.isParentView? '0':'1px'" #wholePost>
  <a href="{{this.userInput.username}}/post/{{this.postInput.id}}" class="post-link"></a>
  <div *ngIf="repostView" class="repost-header">
    <div class="repost-text-holder">
      <div class="repost-icon">
        <fa-icon [icon]="faRetweet"></fa-icon>
      </div>
      <div class="repost-text" #reposterInfo (mouseenter)="onUserInfoMouseEnter(reposter, reposterInfo)" (mouseleave)="onUserInfoMouseLeave()">
        <a href="{{reposter.username}}/profile" class="user-link"></a>
        {{reposter.username}} reposted
      </div>
    </div>
  </div>
  <div class="user-collar-and-post-holder">
    <div class="user-avatar-collar">
      <div class="user-avatar" [ngStyle]="{'background-color': getCircleColor()}">
        <a href="{{userInput.username}}/profile" class="user-link"></a>
        <img *ngIf="!isAvatarNull()" src="{{post.user.avatar!.url}}" alt="{{post.user.username}}}">
        <div *ngIf="isAvatarNull()" class="initial">{{getFirstInitial()}}</div>
      </div>
      <div *ngIf="isParentView" class="gray-collar"></div>
    </div>
    <div class="post-holder">
      <div class="user-info-and-dots">
        <div class="user-date">
          <div class="user-info" #userInfo (mouseenter)="onUserInfoMouseEnter(post.user)" (mouseleave)="onUserInfoMouseLeave()">
            <a href="{{userInput.username}}/profile" class="user-link"></a>
            <b>{{post.user.username}}</b>
          </div>
          <div class="user-date-divider"></div>
          <div class="date color-grey">
            {{ getCreatedDate() }}
          </div>
        </div>
        <div class="edit-and-bookmark-holder">
          <div *ngIf="editable" class="edit">
            <button class="action-button" (click)="openEditDialog()">
              <fa-icon [icon]="faPen"></fa-icon>
            </button>
          </div>
          <div class="bookmark">
            <button class="action-button" (click)="handleBookmarkClick()">
              <fa-icon [icon]="this.bookmarked ? faBookmarkActivated : faBookmarkUnactivated"></fa-icon>
            </button>
          </div>
        </div>
      </div>
      <div class="post-text-content">
        <p>{{ post.textContent }}</p>
      </div>
      <div class="post-image-content">
        <div class="image-radius-wrap" [style.width]="post.imagesUrls.length === 1 ? 'fit-content' : '100%'">
          <div *ngIf="post.imagesUrls.length === 4" class="four-image-container full-width">
              <div class="two-image-container full-width">
                <div class="left-upper-image-container full-width">
                  <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
                </div>
                <div class="right-upper-image-container full-width">
                  <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
                </div>
            </div>
            <div class="two-image-container full-width">
              <div class="left-bottom-image-container full-width">
                <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
              </div>
              <div class="right-bottom-image-container full-width">
                <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
              </div>
            </div>
          </div>
          <div *ngIf="post.imagesUrls.length === 3" class="three-image-container full-width">
            <div class="left-big-image full-width">
              <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
            </div>
            <div class="two-right-images full-width">
              <div class="right-upper-image-container full-width">
                <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
              </div>
              <div class="right-bottom-image-container full-width">
                <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
              </div>
            </div>
          </div>
          <div *ngIf="post.imagesUrls.length === 2" class="two-image-container full-width">
            <div class="left-big-image full-width">
              <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
            </div>
            <div class="right-big-image full-width">
              <div class="image-wrap full-width" [style.background-image]="'url(' + post.imagesUrls[0] + ')'"></div>
            </div>
          </div>
          <div *ngIf="post.imagesUrls.length === 1" class="solo-image-container">
            <img class="solo-image full-width" src="{{post.imagesUrls[0]}}" alt="image">
          </div>
          </div>
      </div>
      <div class="post-footer">
        <div class="post-top-margin">
          <div class="comment-info" (click)="handleCommentClick()">
                <div class="comment-icon color-grey">
                  <div class="blue-circle"></div>
                  <fa-icon [icon]="faComment"></fa-icon>
                </div>
                <div class="comment-amount color-grey">
                  {{post.commentsAmount}}
                </div>
          </div>
          <div class="repost-info {{reposted?'repost-activated':''}}" (click)="handleRepostClick()">
            <div class="repost-icon color-grey" style=" position: relative;">
              <div class="green-circle">
              </div>
              <fa-icon [icon]="faRetweet" style="scale: calc(16/18)"></fa-icon>
            </div>
            <div class="repost-amount color-grey">{{post.repostsAmount}}</div>
          </div>
          <div class="likes-info {{liked?'likes-activated':''}}" (click)="handleLikeClick()">
            <div class="likes-icon color-grey" style=" position: relative;">
              <div class="red-circle">
              </div>
              <fa-icon [icon]="this.liked ? faHeartActivated : faHeartUnactivated"></fa-icon>
            </div>
            <div class="likes-amount color-grey">{{post.likesAmount}}</div>
            <div></div>
          </div>
          <div class="view-stats">
            <div class="view-icon color-grey" style=" position: relative;">
              <div class="blue-circle">
              </div>
              <fa-icon [icon]="faSquarePollVertical"></fa-icon>

            </div>
            <div class="view-amount color-grey">{{post.viewsAmount}}</div>
          </div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
</div>
