<div class="side-navbar">
  <div class="nav-content">
    <div class="logo-link"></div>
    <div class="contents">
      <div class="content-holder">
        <div class="content-pressable">
          <div class="left-icon">
            <fa-icon [icon]="faHome"></fa-icon>
          </div>
          <div class="content-text">Home</div>
          <a href="/mainPage" class="user-link"></a>
        </div>
      </div>
      <div class="content-holder">
        <div class="content-pressable">
          <div class="left-icon">
            <fa-icon [icon]="faSearch"></fa-icon>
          </div>
          <div class="content-text">Explore</div>
          <a href="/search" class="user-link"></a>
        </div>
      </div>
      <div class="content-holder">
        <div class="content-pressable">
          <div class="left-icon">
            <fa-icon [icon]="faBookmarkIcon"></fa-icon>
          </div>
          <div class="content-text">Bookmarks</div>
          <a href="/bookmarks" class="user-link"></a>
        </div>
      </div>
      <div class="content-holder">
      <div class="content-pressable">
        <div class="left-icon">
          <fa-icon [icon]="faRetweet"></fa-icon>
        </div>
        <div class="content-text">Reposts</div>
        <a href="/reposts" class="user-link"></a>
      </div>
      </div>
      <div class="content-holder">
        <div class="content-pressable">
          <div class="left-icon">
            <fa-icon [icon]="faUserIcon"></fa-icon>
          </div>
          <div class="content-text">Profile</div>
          <a href="{{user.username}}/profile" class="user-link"></a>
        </div>
    </div>
      <button class="post-a-post-button" (click)="openPostingDialog()">Post</button>
    </div>
    <div class="profile-footer"></div>
  </div>
</div>
