.side-navbar {
  width: 275px;
  position: relative;
}

.nav-content {
  width: inherit;
  height: 100vh;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
}

.contents {
  display: flex;
  flex-direction: column;
}

.content-holder {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.content-text {
  margin-left: 10px;
}

.content-pressable {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: max-content;
  padding: 12px;
  border-radius: 100px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #f2f2f2;
  }
}

.post-a-post-button {
  display: flex;
  border: 0;
  flex-direction: row;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  height: 50px;
  border-radius: 100px;
  width: 80%;
  margin-top: 10px;
  background-color: cornflowerblue;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: #1e90ff;
  }
}

.logout-button {
  display: flex;
  border: 1px solid rgb(207, 217, 222);
  flex-direction: row;
  justify-content: center;
  color: black;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  height: 50px;
  border-radius: 100px;
  width: 80%;
  margin-top: 10px;
  background-color: white;
  transition: 0.2s ease-in-out;
  &:hover {
    background-color: rgba(244, 33, 46, 0.1);
    border-color: rgb(253,201,206);
    color: red;
  }
}

.user-link {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.activated {
  fa-icon {
    color: black;
  }

  .content-text {
    font-weight: bolder;
  }
}

.not-activated{
  fa-icon {
    color: grey;
  }

  .content-text {
    font-weight: normal;
  }
}

.profile-footer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 100px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  &:hover {
      cursor: pointer;
    background-color: #f2f2f2;
  }
}

.user-avatar {
  border-radius: 50%;
  transition: filter 0.3s ease;
  filter: brightness(1);
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initial {
  color: #fff;
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.2625px;
}

.profile-username {
  margin-left: 10px;
  font-weight: bold;
}

.logout-button, .discard-close{
  cursor: pointer;
  user-select: none;
}

.discard-close {
  display: flex;
  border: 1px solid rgb(207, 217, 222);
  flex-direction: row;
  justify-content: center;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  align-items: center;
  height: 50px;
  border-radius: 100px;
  width: 80%;
  margin-top: 10px;
  background-color: white;
  transition: background-color 0.2s ease-in-out;
  &:hover {
    background-color: #e6e6e6;
  }
}
