$grey-color: #dcdcdc;
$font : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

.header{
  border-bottom: 0px !important;
}
.navigation-bar{
  border-bottom: 1px solid $grey-color;
}
.navigation-bar-content{
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.tab-box{
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition-duration: 0.2s;
  cursor: pointer;
  user-select: none;
  &:hover{
    background-color: rgba(15, 20, 25, 0.1);
  }
}

.tab{
  min-width: 56px;
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  box-sizing: inherit;
}

.tab-text-box{
  box-sizing: border-box;
  display: flex;
  position: relative;
  padding-bottom: 16px;
  padding-top: 16px;
  height: 100%;

}
.navigation-bar-content .following-tab-text-selected{
  color: black;
  font-weight: 700;
  font-size: 15px;
  font: $font;
}
.following-tab-text{
  color: rgb(83, 100, 113);
  font-weight: 500;
  font-size: 15px;
  font: $font;
}
.navigation-bar-content .followers-tab-text-selected{
  color: black;
  font-weight: 700;
  font-size: 15px;
  font: $font;
}
.followers-tab-text{
  color: rgb(83, 100, 113);
  font-weight: 500;
  font-size: 15px;
  font: $font;
}


.selected-tab{
  background-color: cornflowerblue;
  height: 4px;
  align-self: center;
  min-width: 56px;
  width: 100%;
  position: absolute;
  bottom: 0.5px;
  display: inline-flex;
  border-radius: 25px;
}

