$grey-color: #dcdcdc;
$font : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

.header{
  border-bottom: 0px !important;
}
.navigation-bar{
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid $grey-color;
}

