<div class="wrap">
  <div class="main-page">
    <div class="sticky-wrap">
      <div class="header">
        <div class="header-content">
          <div  class="back-button" >
            <div class="svg-pic" aria-label="back" role="button" (click)="backToMainPaige()" >
              <fa-icon [icon]="faArrowLeftLong" class="arrowIcon"></fa-icon>
            </div>
          </div>
          <div class="profile-info-area">
            <div class="username">
              <span>{{user.username}}</span>
            </div>
            <div class="subtitle-box">
              <span class="subtitle-text">{{ user.postsCount}} posts</span>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-info">
        <div class="empty-area">
        </div>

        <div class="user-info">
          <div class="profile-photo-edit-profile">
            <div class="image-box">
              <img class="profile-image" src="https://picsum.photos/1080">
            </div>
            <div class="edit-box">
              <div class="edit-profile" (click)="openEditDialog()">
                <span>Edit profile</span>
              </div>
            </div>
          </div>
          <div class="underline-box">
            <span class="user-tag">@{{user.username}}</span>
          </div>
          <div *ngIf="user.bio != ''" class="bio-box">
            <span class="bio">{{user.bio}}</span>
          </div>
          <div class="dob-location">
            <div *ngIf="user.location != ''" class="location-item">
              <fa-icon [icon]="faLocationDot" class="small-item"></fa-icon>
              <span class="small-info">{{user.location}}</span>
            </div>
            <div class="birth-date">
              <fa-icon [icon]="faCalendar" class="small-item"></fa-icon>
              <span class="small-info">Date of birth: {{user.dateOfBirth | date: 'd MMMM y'}}</span>
            </div>
          </div>
          <div class="following-followers">
            <a class="following-link" (click)="navigateToFollowing()" >
              <span class="following-count">{{user.followingIds.length}} </span>
              <span class="following">Following</span>
            </a>
            <a class="followers-link" (click)="navigateToFollowers()">
              <span class="followers-count">{{user.followersIds.length}} </span>
              <span class="followers">Followers</span>
            </a>
          </div>

        </div>
        <div class="posts-title-box">
          <span class="posts-title">Your posts</span>
        </div>
        <div class="posts-thread">
          <app-page-post *ngFor="let post of userPosts$ | async"
                         [postInput]="post" [userInput]="user"></app-page-post>
        </div>
      </div>
    </div>
  </div>
</div>
