<div class="wrap">
  <div class="main-page">
    <div class="profile-header">
      <div class="header-content">
        <div class="back-button">
          <span>svg buttplug</span>
        </div>
        <div class="user-info">
          <div class="username">
            <span>{{user?.username}}</span>
          </div>
          <div class="posts-count">
            <span>{{10}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button (click)="test()" >profile</button>
</div>
