$grey-color: #dcdcdc;
$font : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

.profile-info{

}

.empty-area{
  background-color: rgb(207, 217, 222);
  padding-bottom: 33.3333%;
  overflow: hidden;
  display: flex;
  width: 100%;
  position: relative;
}

.user-info{
  margin-bottom: 16px;
  padding-top: 12px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}

.profile-photo-edit-profile{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  position: relative;
}

.image-box{
  position: relative;
  min-width: 48px;
  width: 25%;
  margin-top: -15%;
  margin-bottom: 12px;
  overflow: visible;
  user-select: none;
}

.profile-image{
  height: calc(100% - 12px);
  width: calc(100% - 12px);
  top: 50%;
  right: 50%;
  border-radius: 50%;
  border: 4px solid white;
}

.edit-box{
  border: 1px solid $grey-color;
  border-radius: 25px;
  transition-property: background-color;
  transition-duration: 0.2s;
  user-select: none;
  &:hover{
    background-color: $grey-color;
    cursor: pointer;
  }
}
.edit-profile{
  font: 14px $font;
  font-weight: 700 !important;
  min-height: 36px;
  display: flex;
  align-items: center;
  color: black;
  padding-right: 16px;
  padding-left: 16px;
  text-decoration: none;
}

.username-box{
  margin-top: 4px;
  margin-bottom: 12px;
}

.bio-box{
  margin-bottom: 6px;
}
.bio{
  font: $font;
  font-size: 13px;
}
.user-tag{
  font: $font;
  font-weight: 800;
}
.dob-location{
  display: flex;
  flex-direction: row;
}

.location-item{
  margin-right: 10px;
}
.small-item{
  padding-right: 4px;
  color: rgb(83, 100, 113);
  font-size: 13px;
}
.small-info{
  font: $font;
  color: rgb(83, 100, 113);
  font-size: 13px;
}

.following-followers{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 8px;
}

.following-link{
  margin-right: 20px;
  font: $font;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  word-wrap: break-word;
  cursor: pointer;
  &:hover{
    text-decoration-line: underline;
  }
}

.followers-link{
  margin-right: 20px;
  font: $font;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  text-decoration: none;
  color: black;
  cursor: pointer;
  &:hover{
    text-decoration-line: underline;
  }
}

.following-count{
  font-weight: 500;
}
.following{
  color: rgb(83, 100, 113);;
}

.followers-count{
  font-weight: 500;
}
.followers{
  color: rgb(83, 100, 113);;
}

.posts-title-box{
  border-bottom: 1px solid $grey-color;
  margin: 0px;
  padding-left: 16px;
  padding-bottom: 12px;
}
.posts-title{
  font: $font;
  font-weight: 700;
  font-size: 20px;
}
