$grey-color: #dcdcdc;

.wrap {
  display: flex;
  justify-content: center;
}

.main-page{
  width: 600px;
  border: 0 solid $grey-color;
  border-right-width: 1px;
  border-left-width: 1px;
}

.profile-header{
  height: 53px;
  display: flex;
  flex-direction: column;
  flex-basis: auto;
  align-items: stretch;
  position: relative;
}
.header-content{
  justify-content: center;
  -webkit-box-orient: horizontal;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid black;
  box-sizing: border-box;
}
