<app-user-hover-card></app-user-hover-card>

<app-nav-wrapper [activatedEndpoint]="Endpoint.Reposts">
  <div class="main-page">
    <app-top-blurry-bar [title]="'Your reposts'"></app-top-blurry-bar>
    <div style="height: 0; width: 100%;"></div>
    <app-loading-spinner [loading]="loading"></app-loading-spinner>
    <app-page-post *ngFor="let post of posts" [postInput]="post" [userInput]="post.author" [repostView]="true"
                   [reposter]="pageUser"></app-page-post>
    <div *ngIf="noRepostsFound">
      <app-no-result-found-page [headerText]="'You did not repost anything yet'"
                                [smallText]="'Bookmark posts if you share common thoughts with someone.'">
      </app-no-result-found-page>
    </div>
  </div>
</app-nav-wrapper>
