<app-user-hover-card></app-user-hover-card>
<div class="wrap">
  <app-side-navbar [activatedEndpoint]="Endpoint.Reposts"></app-side-navbar>
  <div class="element">
    <div class="main-page">
      <app-top-blurry-bar [title]="'Home'"></app-top-blurry-bar>
      <div style="height: 0; width: 100%;"></div>
      <app-page-post *ngFor="let post of posts" [postInput]="post" [userInput]="post.author" [repostView]="true"
                     [reposter]="pageUser"></app-page-post>
    </div>
    <app-recommendations-side-bar></app-recommendations-side-bar>
  </div>
</div>
