<div class="dialog-component">
  <div class="header-content">
    <div class="close-button" (click)="onNoClick()">
      <fa-icon class="xMark" [icon]="faXmark"></fa-icon>
    </div>
    <div class="title">
      <span class="title-text">Edit profile</span>
    </div>
    <div class="save-button" [mat-dialog-close]="data">
      <span class="Save-text">Save</span>
    </div>
  </div>
  <div class="edit-content">
    <div class="user-avatar-edit">
      <img class="avatar" src="https://picsum.photos/1080">
      <div class="change-image" (click)="changeImage()">
        <fa-icon class="faCamera" [icon]="faCamere"></fa-icon>
      </div>
    </div>
    <div class="input-fields">
      <div class="bio-edit">
        <label for="input-bio" class="bio-label" [class.active]="inputBioFocused" >Bio</label>
        <textarea id="input-bio" class="input-bio" [(ngModel)]="data.bio" [maxLength]="maxCharCountBio" (input)="updateBioCharacterCount()" (focus)="onInputBioFocus()" (blur)="onInputBioBlur()"></textarea>
        <span *ngIf="inputBioFocused" class="char-count-bio">{{ charCountBio }} / {{ maxCharCountBio }}</span>
      </div>
      <div class="location-edit">
        <label for="input-location" class="location-label" [class.active]="inputLocationFocused">Location:</label>
          <input id="input-location" class="input-location" [(ngModel)]="data.location" [maxlength]="maxCharCountLocation" (input)="updateLocationCharacterCount()" (focus)="onInputLocationFocus()" (blur)="onInputLocationBlur()">
          <span *ngIf="inputLocationFocused" class="char-count-location">{{ charCountLocation }} / {{ maxCharCountLocation }}</span>
      </div>
    </div>
  </div>
</div>
