<div class="wrap">
  <app-side-navbar [activatedEndpoint]="Endpoint.Bookmarks"></app-side-navbar>
  <div class="element">
    <div class="main-page">
      <app-top-blurry-bar [title]="'Bookmarks'"></app-top-blurry-bar>
      <div style="height: 0; width: 100%;"></div>
      <div *ngIf="!loading">
        <app-page-post *ngFor="let post of posts" [postInput]="post" [userInput]="post.author"></app-page-post>
      </div>
      <app-loading-spinner [loading]="loading"></app-loading-spinner>
    </div>
    <app-recommendations-side-bar></app-recommendations-side-bar>
  </div>
</div>
