<div class="user-box">
  <div class="user-profile-button" (click)="navigateToUserProfile(pageUser.username)">
    <div class="content">
      <div class="small-image-container">
        <div class="image-box">
          <img class="user-image" src="https://picsum.photos/1080">
        </div>
      </div>
      <div class="user-info-box">
        <div class="small-info">
          <div class="small-info-box">
            <div class="underline-box" (click)="navigateToUserProfile(pageUser.username)">
              <span class="username-span">{{pageUser.username}}</span>
            </div>
            <div class="underline-box" (click)="getUserFollowing(pageUser.username)">
              <span class="connections-span">{{pageUser.following}} following</span>
            </div>
          </div>
          <div *ngIf="isCurrentUser" style="user-select: none;">
            <div *ngIf="!unfollowed" class="follow-button-box">
              <div class="follow-button-border" (mouseenter)="changeSpan()" (mouseleave)="changeSpan()" (click)="unfollow($event, pageUser.id)">
                <span class="button-text">{{followingText}}</span>
              </div>
            </div>
            <div *ngIf="unfollowed" class="unfollow-button-box" (click)="follow($event, pageUser.id)">
              <div class="unfollow-button-border">
                <span class="unfollow">Follow</span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <span class="bio">{{pageUser.bio}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
