$font: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;

.required-messages{
    text-align: left;
    font-family: $font;
    font-size: 10px;
    margin-left: 10px;
    color: red;;
}
