.date-picker{
    border: 1px solid #ddd;
    border-radius: 3px;
    height: 100%;
    margin-top: 10px;
}
.date-of-birth{
    text-align: left;
    padding-left: 10px;
    font: 14px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-weight: 500;
}
.row-form {
    display: flex;
    gap: 10px; /* Adjust the gap between selects as needed */
}
.row-form select {
    flex: 1; /* Allow each select to grow and take up available space */
}
.error-message{
    font: 12px -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}
.error-red{
    color: red;
}
.fa-eye-slash-btn{
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.fa-eye-slash-repeat-btn{
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
