<div class="outer">
    <div class="row">
        <div class="plate">
            <div class="panel-border">
                <div class="panel-header" >
                    <h3 style="padding-top: 1rem; font-weight: bold;">Sign Up</h3>
                </div>
                <div class="panel-body" style="padding: 1rem;">
                    <form [formGroup] ="regisForm">
                        <div class="input-box" >
                            <span class="fa fa-user custom-icon" ></span>
                            <input formControlName="username" type="text" placeholder="Username" required>
                        </div>
                        <div class="input-box" >
                            <span class="fa fa-envelope custom-icon" ></span>
                            <input formControlName="email" type="text" placeholder="Email" required (keyup)="onKeySearch($event)">
                        </div>
                        <div class="input-box" >
                            <span class="fa fa-lock custom-icon"></span>
                            <input class="" formControlName="password" [(ngModel)]="originalPassword" name="origpassword"  [type]="passwordType" placeholder="Password (at least 8 characters)" required>
                            <span (click)="hideShowPass()" class="fa {{eyeIcon}} fa-eye-slash-btn" style="padding-right: 4px;"></span>
                        </div>
                        <div class="required-messages">
                            <small *ngIf="regisForm.controls['password'].dirty && regisForm.hasError('passwordLength', 'password')">*Your password needs to be at least 8 characters. Please enter a longer one.</small>
                        </div>
                        <div class="input-box" style="margin-bottom: 1px;">
                            <span class="fa fa-lock custom-icon"></span>
                            <input class="" formControlName="repeatedPassword" [(ngModel)]="repeatedPassword" name="repeatedpassword" [type]="repeatedPasswordType" placeholder="Repeat password" required>
                            <span (click)="hideShowRepeatPass()" class="fa {{repeatedEyeIcon}} fa-eye-slash-btn" style="padding-right: 4px;" ></span>
                        </div>
                        <div class="required-messages">
                          <small *ngIf="regisForm.errors?.['passwordMatcherror'] && regisForm.controls['password'].dirty && regisForm.controls['repeatedPassword'].dirty">*Passwords don't match.</small>
                      </div>
                        <div class="date-of-birth">
                            <div class="date-of-birth-header" style="text-align: left;">
                              <label>Date of birth</label>
                            </div>
                            <div class="selector">
                              <div class="row-form">
                                <div>
                                  <select class="date-picker" formControlName="selectedMonth" [(ngModel)]="selectedMonth" (change)="updateDates()">
                                    <option hidden></option>
                                    <option value="" disabled selected>Select a month</option>
                                    <option *ngFor="let month of months" [value]="month.value">{{ month.name }}</option>
                                  </select>
                                </div>
                                <div>
                                  <select class="date-picker" formControlName="selectedDay" [(ngModel)]="selectedDay">
                                    <option hidden></option>
                                    <option value="" disabled selected>Select a day</option>
                                    <option *ngFor="let day of days" [value]="day">{{ day }}</option>
                                  </select>
                                </div>
                                <div>
                                  <select class="date-picker" formControlName="selectedYear" [(ngModel)]="selectedYear" (change)="updateDates()">
                                    <option hidden></option>
                                    <option value="" disabled selected>Select a year</option>
                                    <option *ngFor="let year of years" [value]="year">{{ year }}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="required-messages" style="margin-top: 15px;">
                            <small *ngIf="(regisForm.controls['username'].dirty && regisForm.hasError('required', 'username'))
                            || (regisForm.controls['email'].dirty && regisForm.hasError('required', 'email'))
                            || (regisForm.controls['selectedMonth'].dirty && regisForm.hasError('required', 'selectedMonth'))
                            || (regisForm.controls['selectedDay'].dirty && regisForm.hasError('required', 'selectedDay'))
                            || (regisForm.controls['selectedYear'].dirty && regisForm.hasError('required', 'selectedYear'))">*Provide all fields with appropriate information</small>
                          </div>
                        <button (click)="onSubmit()" type="submit" class="btn-block">Sign up</button>
                        <div class="register-link" style="font: 14px -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,Helvetica,Arial,sans-serif;">
                            <p>Already have an account? <a id="forget" routerLink="/login">Sign in</a></p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
