<app-nav-wrapper [activatedEndpoint]="Endpoint.None" [showWhoToFollow]="false">
  <div class="main-page">
    <app-tablist-page [title]="'Connect'" [firstTabName] = "'Who to follow'" [secondTabName] = "'Creators for you'"
                      [selectedTab]="Tab.SecondTab" [showSubtitle] = "false"
                      (firstTabClicked)="navigateToWhoToFollow()"
                      (secondTabClicked)="navigator.openCreatorsForYouPage($event)"
                      (backButtonClicked)="goBack()"
    ></app-tablist-page>
    <div style="position: relative; max-width: 600px">
      <div *ngIf="users$.getValue().length != 0">
        <div style="display: block" *ngFor="let user of users$ | async">
          <app-page-user [pageUser]="user" [currentUser]="currentUser"
                         [isCurrentUserPage]="false" [isFollowing]="false">
          </app-page-user>
        </div>
      </div>
    </div>
    <app-loading-spinner [loading]="loading"></app-loading-spinner>
    <app-no-result-found-page [headerText]="'No creators to follow'"
                              [smallText]="'Looks like you have already followed all creators that may be interesting for you.'"></app-no-result-found-page>
  </div>
</app-nav-wrapper>

