<app-nav-wrapper [activatedEndpoint]="Endpoint.None">
  <div class="main-page">
    <app-page-post *ngIf="parentPost" [postInput]="parentPost" [isParentView]="true"></app-page-post>
    <app-page-comment *ngFor="let comment of parentComments" [commentInput]="comment" [userInput]="comment.author" [isParentView]="true"></app-page-comment>
    <div *ngIf="commentInput && authorInput" class="post-holder">
      <div class="page-post">
        <div class="top-bar">
          <div class="gray-collar-shorter"></div>
        </div>
        <div class="post-header">
          <app-user-avatar [user]="authorInput"></app-user-avatar>
          <div class="user-info" #userInfo (mouseenter)="onUserInfoMouseEnter()" (mouseleave)="onUserInfoMouseLeave()">
            <a href="{{authorInput.username}}/profile" class="user-link"></a>
            <div class="user-name">
              <b>{{authorInput.username}}</b>
            </div>

          </div>
        </div>
        <div class="post-body">
          <div class="post-text-content">
            <p>{{ commentView.textContent }}</p>
          </div>
          <div class="post-image-content">
            <div class="image-radius-wrap" [style.width]="commentView.imagesUrls.length === 1 ? 'fit-content' : '100%'" [style.border-width]="commentView.imagesUrls.length == 0 ? '0' : '2px' ">
              <div *ngIf="commentView.imagesUrls.length === 4" class="four-image-container full-width">
                <div class="two-image-container full-width">
                  <div class="left-upper-image-container full-width">
                    <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[0] + ')'"></div>
                  </div>
                  <div class="right-upper-image-container full-width">
                    <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[1] + ')'"></div>
                  </div>
                </div>
                <div class="two-image-container full-width">
                  <div class="left-bottom-image-container full-width">
                    <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[2] + ')'"></div>
                  </div>
                  <div class="right-bottom-image-container full-width">
                    <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[3] + ')'"></div>
                  </div>
                </div>
              </div>
              <div *ngIf="commentView.imagesUrls.length === 3" class="three-image-container full-width">
                <div class="left-big-image full-width">
                  <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[0] + ')'"></div>
                </div>
                <div class="two-right-images full-width">
                  <div class="right-upper-image-container full-width">
                    <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[1] + ')'"></div>
                  </div>
                  <div class="right-bottom-image-container full-width">
                    <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[2] + ')'"></div>
                  </div>
                </div>
              </div>
              <div *ngIf="commentView.imagesUrls.length === 2" class="two-image-container full-width">
                <div class="left-big-image full-width">
                  <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[0] + ')'"></div>
                </div>
                <div class="right-big-image full-width">
                  <div class="image-wrap full-width" [style.background-image]="'url(' + commentView.imagesUrls[1] + ')'"></div>
                </div>
              </div>
              <div *ngIf="commentView.imagesUrls.length === 1" class="solo-image-container">
                <img class="solo-image full-width" src="{{commentView.imagesUrls[0]}}" alt="image">
              </div>
            </div>
          </div>
        </div>
        <div class="lower-info-stripe">
          <div class="full-date-and-views">
            <div class="time">{{getCreatedTime()}}</div>
            <div class="small-dot"></div>
            <div class="date">{{getCreatedDate()}}</div>
            <div class="small-dot"></div>
            <div class="views"><b>{{commentView.viewsAmount}}</b> Views</div>
          </div>
          <div class="views"></div>
        </div>
      </div>
      <div class="post-footer">
        <div class="comment-info" (click)="handleCommentClick()">
          <div class="comment-icon color-grey">
            <div class="blue-circle"></div>
            <fa-icon [icon]="faComment"></fa-icon>
          </div>
          <div class="comment-amount color-grey">
            {{commentView.commentsAmount}}
          </div>
        </div>
        <div class="likes-info {{liked?'likes-activated':''}}" (click)="handleLikeClick()">
          <div class="likes-icon color-grey" style=" position: relative;">
            <div class="red-circle">
            </div>
            <fa-icon [icon]="this.liked ? faHeartActivated : faHeartUnactivated"></fa-icon>
          </div>
          <div class="likes-amount color-grey">{{commentView.likesAmount}}</div>
          <div></div>
        </div>
        <div class="bookmark-info" (click)="handleBookmarkClick()">
          <div class="bookmark-icon color-grey" style=" position: relative;">
            <div class="blue-circle">
            </div>
            <fa-icon [icon]="this.bookmarked ? faBookmarkActivated : faBookmarkUnactivated"></fa-icon>
          </div>
          <div class="bookmark-amount color-grey">{{commentView.bookmarksAmount}}</div>
        </div>
      </div>
      <app-comment-creator [post]="commentView" [replyArgs]="{isCommentReply:true}" (onReplyClickEvent)="handleCommentCreation()"></app-comment-creator>
      <app-page-comment *ngFor="let comment of comments" [commentInput]="comment" [userInput]="comment.author"></app-page-comment>
    </div>
  </div>
</app-nav-wrapper>
